.home-search {
    width:50%;
    margin: auto;
}

.home-search-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin: auto;
  }
  

.home-search-form button {
    width: fit-content;
    align-self: flex-end;
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    transform: translate(20px,-22px);
}

.home-presentation {
    font-weight: bold;
    margin: auto;
    margin-bottom : 50px;
    max-width: 80%;
    
}

.home-presentation p , .home-presentation h2{
    padding: 10px 25px ;
    margin: 0px;
    text-shadow:
    -3px -3px 4px #fff,  
    3px -3px 4px #fff,
    -3px 3px 4px #fff,
    3px 3px 4px #fff;
    line-height: 1.8;
    display: inline-block;
    
}

/* MOBILE */
@media (max-width : 800px){
    
    .home-presentation {
        width: 90%;
        min-width: 360px;
        margin: auto;
    }
}



    