.account-container {
    max-width: 900px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .header-info div {
    margin-bottom: 0.5rem;
  }

    .credit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  }

  .coin-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  
  }

  .section {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="checkbox"],
  select {
    margin-bottom: 1rem;
  }

  .vehicle-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .button-group button {
    padding: 0.7rem;
    border: none;
    background-color: #60775D;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .button-group button:hover {
    background-color: #4a5f48;
  }

  .stars{
      color: #FFD700;
  }