*{box-sizing: border-box;}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background: url('../img/images/background.png') center center/ cover no-repeat fixed;
  font-family: "Lemonada", "Comic Sans MS", cursive;
  font-size:16px;
  overflow-x: hidden;
}
/* ------------------------------------------------ */
header {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* -------------------------------------------------- */
/* navbar */
.navbar {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  background-color: #59775D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

  
.navbar .nav-links {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
  
.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-size: 1rem !important;
  font-weight: bold;
}
  
.navbar .nav-links a:hover {
  color: #52EE0A;
  
}
  
.navbar .nav-links a.selected {
  background-color: #F5F5F5;
  color: #52EE0A;
 
}

.logo img {
  width:80px;
  height:80px;
}

.burger {
  display: none;
}
/* ------------------------------------------------ */
/* reservation en attente */
.pending-alert {
  position: relative;
  padding: 1rem;
  background-color: #FFD700;
  width:290px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 12px;
  border-radius: 15%;
  border: solid 1px gray;
}

/* ------------------------------------------------ */
/* messages avertissements */
.red-alert{
  padding: 0.7rem;
  border: none;
  background-color: #f70707;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
/* contenu principal  */
main{
  flex: 1;
  width:90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  padding: 0 1rem;
}
/* ------------------------------------------------ */
/* formulmaires */
.form-container {
  margin:20px auto;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.form-container h2 , .form-container h3 {
  text-decoration: underline;
}

form {
  max-width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
  
label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
  
input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* ------------------------------------------------ */
/* boutons */


.close-btn {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  top: -2px;
  right: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f44336;
  padding: 2px;
  color: #fff;
  border: solid 1px #fff;
}

.close-btn a {
  text-decoration: none;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  border: none;
  background-color: #60775D;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
  
button:hover {
  background-color: #4a5f48;
}

.btn-back {
width : 100px;
margin: auto;
}
a {
  color: #60775D;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

.blue{
  background-color: blue;
}

.blue:hover{
  background-color: rgb(1, 1, 70);
}

.yellow {
  background-color: #FFD700;
}

.green {
  background-color: yellowgreen;
}
.green:hover{
  background-color: rgb(1, 70, 7);
}

.red {
  background-color: red;
}

.red:hover {
  background-color: rgb(255, 94, 0) !important;
}
/* ------------------------------------------------ */
/*search bar*/
.search-bar{
  margin: auto;
}
/* ------------------------------------------------ */
/*footer*/
footer {
  width:100%;
  background-color: #59775D;
  color: white;
  padding: 0.8rem 1rem;
  margin: auto;
  margin-top:20px; 
 
}

.footer-container {
  width:100%;
  max-width: 1200px;
  height : 80px;
  margin:auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 1 33%;
}

footer h3 {
  margin: 0;
}

footer p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer a.legal-link {
  color: #039BE5;
  text-decoration: underline;
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .footer-icons img {
  width: 36px;
  height: 36px;
}
/* ------------------------------------------------ */
/* pagination */
.pagination {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #1126df;
  text-shadow:
    -3px -3px 4px #ffffff,  
    3px -3px 4px #ffffff,
    -3px 3px 4px #ffffff,
    3px 3px 4px #ffffff;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #1126df;
}

.pagination .active {
  font-weight: bold;
  color: #ffffff;
  background-color: #1126df;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

/* ------------------------------------------------ */
/* popup */
#popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease;
  display: none; /* caché par défaut */
}

#popup.success {
  background-color: #4CAF50; /* vert */
  color: white;
}

#popup.error {
  background-color: #f44336; /* rouge */
  color: white;
}
/* ------------------------------------------------ */
/*  invisibilité */
.hidden {
  display : none;
}
/* fondu */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
/* ------------------------------------------------ */
/* responsive navbarr (menu burger) */
@media (max-width: 1200px) {
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    background-color: #60775D;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .navbar .nav-links a {
    border: solid 1px black;
    width: 100%;
  }

  .burger {
    display: flex;
    flex-direction: column;
  }

  .burger span {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 4px;
    border-radius: 2px;
  }
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */

  /* mobile et tablette */
  @media (max-width : 800px){
/* body */
body{
      width:100%;
      min-width: 360px;
      background: url('../img/images/background.png') center -50% / cover no-repeat fixed;
      font-size:14px;
    }
/* ------------------------------------------------ */
/* header */

header{
      width: 100%;
    }

/* ------------------------------------------------ */
  /* main */
    main {
      width: 100%;
      margin: auto;
      padding: 0;
      flex: 1;
    }
/* ------------------------------------------------ */
  /* formulaires */
    form{
      width: 90%;
      padding: 0;
      margin:20px auto;
    }

    .form-container {
      margin: 20px auto;
      padding: 0;
      max-width: 80%;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      min-width: 340px;
    }

    .form-container h2{
      text-align: center;
      margin: auto;
    }

    .form-container button{
      width: 50%;
      margin: 10px auto;
    }

    input {
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
/* ------------------------------------------------ */
 /* footer */
    footer  {
      width:100vw;
      padding: 0;
      padding-top: 2.5rem;
      margin: 0;
      min-width: 360px;
      height:250px;
      display: flex;
      flex-wrap: wrap;
    }

    .footer-container{
      margin: 0 auto;
      padding: 0;
      max-width: 80%;
    }
    .footer-icons {
      gap: 33px;
    }
    

  }