*{box-sizing: border-box;}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background: url('../img/images/background.png') center center/ cover no-repeat fixed;
  font-family: "Lemonada", "Comic Sans MS", cursive;
  font-size:16px;
  overflow-x: hidden;
}

header {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* navbar */
.navbar {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  background-color: #59775D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

  
.navbar .nav-links {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
  
.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
}
  
.navbar .nav-links a:hover {
  color: #52EE0A;
  
}
  
.navbar .nav-links a.selected {
  background-color: #F5F5F5;
  color: #52EE0A;
 
}

.logo img {
  width:80px;
  height:80px;
}

.burger {
  display: none;
}

/* contenu principal  */
main{
  flex: 1;
  width:90%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

/* formulmaires */
.form-container {
  margin:20px auto;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.form-container h2 , .form-container h3 {
  text-decoration: underline;
}

form {
  max-width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
  
label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
  
input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* boutons */
button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  border: none;
  background-color: #60775D;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
  
button:hover {
  background-color: #4a5f48;
}
  
a {
  color: #60775D;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
.blue{
  background-color: blue;
}

.yellow {
  background-color: #FFD700;
}

.green {
  background-color: yellowgreen;
}

.red {
  background-color: red;
}

/* pagination */
.pagination {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #60775D;
}

/* hidden */
.hidden {
  display: none;
}

  
/*footer*/
footer {
  width:100%;
  background-color: #59775D;
  color: white;
  padding: 0.8rem 1rem;
  margin: auto; 
 
}

.footer-container {
  width:100%;
  max-width: 1200px;
  height : 80px;
  margin:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 1 33%;
}

footer h3 {
  margin: 0;
}

footer p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer a.legal-link {
  color: #039BE5;
  text-decoration: underline;
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .footer-icons img {
  width: 36px;
  height: 36px;
}
.hidden {display:none;}
/* responsive navbarr (menu burger) */

@media (max-width: 1200px) {
  .burger {
    display: flex;
    flex-direction: column;
  }

  .burger span {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 4px;
    border-radius: 2px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #60775D;
    position: absolute;
    top: 70px;
    left: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
  }

  .nav-links.active {
    display: flex;
  }

  
}



  /* mobile et tablette */
  @media (max-width : 800px){
    body{
      width:100%;
      min-width: 360px;
      background: url('../img/images/background.png') center -50% / cover no-repeat fixed;
      font-size:14px;
    }
    header
    {width: 100%;}
  /* main */
    main {
      width: 100%;
      margin: auto;
      padding: 0;
      flex: 1;
    }

  /* formulaires */
    form{
      width: 90%;
      padding: 0;
      margin:20px auto;
    }

    .form-container {
      margin: 20px auto;
      padding: 0;
      max-width: 80%;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      min-width: 340px;
    }

    .form-container h2{
      text-align: center;
      margin: auto;
    }

    .form-container button{
      width: 50%;
      margin: 10px auto;
    }

    input {
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

 /* footer */
    footer  {
      width:100vw;
      padding: 0;
      padding-top: 2.5rem;
      margin: 0;
      min-width: 360px;
      height:250px;
      display: flex;
      flex-wrap: wrap;
    }

    .footer-container{
      margin: 0 auto;
      padding: 0;
      max-width: 80%;
    }
    .footer-icons {
      gap: 33px;
    }
    

  }