body {
    max-width: 1440px;
    margin : auto;
  
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    margin-top: 1.5rem;
    padding: 0.7rem;
    border: none;
    background-color: #60775D;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #4a5f48;
  }
  
  a {
    color: #60775D;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .blue{
    background-color: blue;
  }

  .yellow {
    background-color: #FFD700;
  }

  .green {
    background-color: yellowgreen;
  }

  .red {
    background-color: red;
  }